
<h2 class="title">AGREGAR PRODUCTO</h2>

<form id="form" action="/products" method="POST">
    <input type="text" placeholder="title" name="title">
    <input type="text" placeholder="description" name="description">
    <input type="number" placeholder="price" name="price">
    <input type="text" placeholder="thumbnail" name="thumbnail">
    <input type="number" placeholder="code" name="code">
    <input type="number" placeholder="stock" name="stock">
    <input type="text" placeholder="category" name="category">
    <input type="submit" value="cargar">
</form>

<h2 class="title">Productos</h2>
    
<div id="div">
    <table>
        <thead>
            <tr>
                <th class="text-center">NOMBRE</th>
                <th class="text-center">PRICE</th>
                <th class="text-center">STOCK</th>
                <th class="text-center">CODE</th>
                <th class="text-center">ID</th>
            </tr>
        </thead>
        <tbody>
            {{#each products}}
            <tr>
                <td>{{{this.title}}}</td>
                <td>$ {{{this.price}}}</td>
                <td>{{{this.stock}}}</td>
                <td>{{{this.code}}}</td>
                <td>{{{this._id}}}</td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</div>





<script src="socket.io/socket.io.js"></script>
<script src="/static/js/index.js"></script>
   