
<h2 class="title">AGREGAR PRODUCTO</h2>

<form id="form" action="/products" method="POST">
    <input type="text" placeholder="title" name="title">
    <input type="text" placeholder="description" name="description">
    <input type="number" placeholder="price" name="price">
    <input type="text" placeholder="thumbnail" name="thumbnail">
    <input type="number" placeholder="code" name="code">
    <input type="number" placeholder="stock" name="stock">
    <input type="text" placeholder="category" name="category">
    <input type="text" placeholder="email" name="email">
    <input type="submit" value="cargar">
</form>

<h2 class="title">Productos</h2>
    
<div id="div">
    <table>
        <thead>
            <tr>
                <th class="text-center">NOMBRE</th>
                <th class="text-center">PRICE</th>
                <th class="text-center">STOCK</th>
                <th class="text-center">CODE</th>
                <th class="text-center">ID</th>
            </tr>
        </thead>
        <tbody>
            {{#each products}}
            <tr>
                <td>{{{this.title}}}</td>
                <td>$ {{{this.price}}}</td>
                <td>{{{this.stock}}}</td>
                <td>{{{this.code}}}</td>
                <td>{{{this._id}}}</td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</div>
<script src="https://cdn.socket.io/4.0.1/socket.io.js"></script>
<script>
    const socket = io();

 document.getElementById("form").onsubmit = e => {
     e.preventDefault()

     const title = document.querySelector("input[name=title]").value;
     const price = parseInt(document.querySelector("input[name=price]").value);
     const description = document.querySelector("input[name=description]").value;
     const thumbnail = document.querySelector("input[name=thumbnail]").value;
     const code = parseInt(document.querySelector("input[name=code]").value);
     const stock = parseInt(document.querySelector("input[name=stock]").value);
     const category = document.querySelector("input[name=category]").value;
     const owner = document.querySelector("input[name=email]").value

     if(title == "" || price == "" || description == "" || code == "" || stock == "" || category == ""){
         console.log("campos obligatorios se encuentran vacios");
     }else{
         const product = {title, description, price, thumbnail, code, stock, true:true, category, owner}
         console.log(product);

         socket.emit("new-product", product)
         setTimeout(() => {
             document.getElementById("form").reset();
         }, 500);
     }
 }

socket.on("product-added", products => {
    let salida = `<table>
    <thead>
      <tr>
        <th class="text-center">NOMBRE</th>
        <th class="text-center">PRICE</th>
        <th class="text-center">STOCK</th>
        <th class="text-center">CODE</th>
        <th class="text-center">ID</th>
      </tr>
    </thead>
    <tbody>`
    products.forEach(prod => {
        salida +=
            `<tr>
                <td>${prod.title}</td>
                <td>$ ${prod.price}</td>
                <td>${prod.stock}</td>
                <td>${prod.code}</td>
                <td>${prod._id}</td>
            </tr>
          </tr>
       `
    });
    salida += ` </tbody>
            </table>`
    
    document.getElementById("div").innerHTML = salida;
});
</script>
   